body{
    font-family: 'Avenir', sans-serif;
}

h1 {
    color: #451F11;
    font-size: 100px;
    font-family: 'Palatino', serif;
    display: inline-block;
    margin-bottom: 0px;

}

#second-header{
    color: white;
    padding-left: 20px;
    
}

#coffee-blurb{
    font-size: 14px;
    text-align: end;
    width: 44%;
}

#hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    height: 100vh;
}

#hero-wrapper{
    width: 600px;
    text-align: center;
    z-index: 2;
    position: relative;
    padding-left: 37px;
}

#hero-beans{
    background-image: url("img/beans.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 50%;
    height: 600px;
    z-index: 1;
    position: absolute;
    right: 0px;
    top: 0px;

}

#nav-bar{
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 50px;
    z-index: 5;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#social-icons{
    width: 50%;
    padding: 5px;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#menu-words{
    width: 50%;
    padding: 5px;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#icon {
    height: 22px;
    width: 22px;
    margin-right: 50px;
}

#menu-link {
    color: white;
    margin-left: 50px;
}

.standard-margin-section {
    padding-top: 200px;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.columns-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.column-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.column {
    max-width: 30%;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.middle {
    margin-left: 20px;
    margin-right: 20px;
}

.column-image {
    width: 100%;
}

.coffee-desc {
    padding-top: 200px;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(340px, auto);
    grid-gap: 20px;
}

esspreh3 {
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;    
    
    grid-column: 1/2;
    grid-row: 1/2;
}

.esspre {
    background-image: url("img/esspre.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    grid-column: 2/4;
    grip-row: 1/2;
}

.cap {
    background-image: url("img/cap.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    grid-column: 1/3;
    grid-row: 2/3;
}

.caph3 {
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    
    grid-column: 3/4;
    grid-row: 2/3;
}